@page
@model DoAn_KTLT_2022.Pages.MH_Tao_HoaDon_BanHangModel
@using DoAn_KTLT_2022.Entities
@using DoAn_KTLT_2022.Services
@using DoAn_KTLT_2022.DAL;
@{
}
<div class="contaiern">
    <h1>Hóa đơn bán hàng</h1>
</div>

<div class="container">
    <div class="row">
        <div class=" border bg-light rounded p-3">
            <form method="post" id="frmSelecMaMatHang">
                <table class="table table-dark table-striped table-hover mt-4 text-center">
                    <tr>
                        <th class="col-1">STT</th>
                        <th class="col-7">Mã mặt hàng</th>                        
                        <th class="col-2">Số lượng</th>
                        <th class="col-2">Giá</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="bienA">No.</label><br>
                                <input type="text" class="form-control" name="MaHD" value="" disabled>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="bienA">Nhập mã mặt hàng:</label><br>
                                <select name="selectMaMatHang" id="LoaiHang" class="form-control" onchange="">
                                @{
                                    List<MATHANG> dsMatHang = LuuTruSanPham.DocDanhSachSanPham();
                                    foreach (MATHANG mh in dsMatHang)
                                    {
                                        <option value="@mh.MaMH">@mh.MaMH: @mh.TenMH</option>
                                    }
                                }
                                 </select>
                            </div>
                        </td>                        
                        <td>
                            <div class="form-group">
                                <label for="bienB">Nhập số lượng:</label><br>
                                <input type="number" id="SL" class="form-control" name="TenMH" value="@Model.A.TenMH">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="bienB">Nhập giá:</label><br>
                                <input type="text" id="Gia" class="form-control" name="Gia" value="@Model.A.Gia">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="form-group">
                                <label for="bienA">Nhập mã Hóa đơn:</label><br>
                                <input type="text" class="form-control" name="MaHD" value="">
                            </div>
                        </td>
                        <td colspan="1">
                            <div class="form-group">
                                <label for="bienB">Ngày lập hóa đơn:</label><br>
                                <input type="date" class="form-control" name="NgaySX" value="@Model.A.NgaySX">
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="form-group">
                                <label for="bienB">Thành tiền:</label><br>
                                <input type="text" id="ThanhTien" class="form-control" name="ThanhTien" value="">
                            </div>
                        </td>
                    </tr>
                </table>                
                <br />
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-warning mb-2" value="Lưu"><br />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-danger">
    <b>@Model.Chuoi</b>
</div>

<script>
  
</script>

    
  
